// Core variables and mixins
@import "variables.scss";

// Mixins
// Background Cover Mixin
@mixin background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// Font Mixins
@mixin body-font {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Global CSS
body {
    @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include body-font;
    font-weight: 500;
}

.lead {
    font-weight: 400;
    color: rgba($black, 0.7);
}

// The AzuraCast branding
.azuracast {
    letter-spacing: -0.05rem;
}

// Header
.navbar-brand {
    font-size: 1.5rem;
    line-height: 1;
}

// Masthead
header.masthead {
    position: relative;
    background-color: $gray-800;
    background: url("../img/bg-masthead.jpg") no-repeat center center;
    @include background-cover;
    padding-top: 6rem;
    padding-bottom: 6rem;

    .overlay {
        position: absolute;
        background-color: $gray-900;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
    }

    h1 {
        font-size: 2rem;
    }

    @media (min-width: 768px) {
        padding-top: 8rem;
        padding-bottom: 8rem;
        h1 {
            font-size: 3rem;
        }
    }
}

// Showcase
.showcase {
    .showcase-text {
        padding: 3rem;
    }
    .showcase-img {
        min-height: 30rem;
        background-size: cover;
    }
    @media (min-width: 768px) {
        .showcase-text {
            padding: 7rem;
        }
    }
}

// Feature Icons
.features-icons {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .features-icons-item {
        max-width: 20rem;
        .features-icons-icon {
            height: 7rem;
            i {
                font-size: 4.5rem;
            }
        }
        &:hover {
            .features-icons-icon {
                i {
                    font-size: 5rem;
                }
            }
        }
    }
}

// CTA
.call-to-action {
    position: relative;
    background-color: $gray-800;
    background: url("../img/bg-masthead.jpg") no-repeat center center;
    @include background-cover;
    padding-top: 7rem;
    padding-bottom: 7rem;

    .overlay {
        position: absolute;
        background-color: $gray-900;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
    }
}

// Footer
footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
