---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="AzuraCast">
  <Navbar />

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="mb-2">
                    <h1>
                        Azura<strong>Cast</strong> is a
                    </h1>
                    <h2>free and open-source, self-hosted</h2>
                    <h1>web radio station in a box</h1>
                </div>

                <div class="buttons pt-5">
                    <a class="btn btn-lg btn-secondary text-white" href="/docs">
                      Learn More
                    </a>
                    <a class="btn btn-lg btn-primary text-white" href="/docs/getting-started/installation">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon" viewBox="0 0 16 16">
                        <path d="M12.17 9.53c2.307-2.592 3.278-4.684 3.641-6.218.21-.887.214-1.58.16-2.065a3.578 3.578 0 0 0-.108-.563 2.22 2.22 0 0 0-.078-.23V.453c-.073-.164-.168-.234-.352-.295a2.35 2.35 0 0 0-.16-.045 3.797 3.797 0 0 0-.57-.093c-.49-.044-1.19-.03-2.08.188-1.536.374-3.618 1.343-6.161 3.604l-2.4.238h-.006a2.552 2.552 0 0 0-1.524.734L.15 7.17a.512.512 0 0 0 .433.868l1.896-.271c.28-.04.592.013.955.132.232.076.437.16.655.248l.203.083c.196.816.66 1.58 1.275 2.195.613.614 1.376 1.08 2.191 1.277l.082.202c.089.218.173.424.249.657.118.363.172.676.132.956l-.271 1.9a.512.512 0 0 0 .867.433l2.382-2.386c.41-.41.668-.949.732-1.526l.24-2.408Zm.11-3.699c-.797.8-1.93.961-2.528.362-.598-.6-.436-1.733.361-2.532.798-.799 1.93-.96 2.528-.361.599.599.437 1.732-.36 2.531Z"/>
                        <path d="M5.205 10.787a7.632 7.632 0 0 0 1.804 1.352c-1.118 1.007-4.929 2.028-5.054 1.903-.126-.127.737-4.189 1.839-5.18.346.69.837 1.35 1.411 1.925Z"/>
                      </svg>
                      <span>
                        Install AzuraCast
                      </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-secondary text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="currentColor" viewBox="0 0 16 16">
                <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5ZM8.5 4h6l.5.667V5H1v-.333L1.5 4h6V1h1v3ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
              </svg>
            </div>
            <h3>Everything's Included</h3>
            <p class="lead mb-0">AzuraCast installs everything you need to get a web radio station up and running in minutes.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z"/>
              </svg>
            </div>
            <h3>Powerful and Intuitive</h3>
            <p class="lead mb-0">Manage every aspect of your radio station via a simple yet powerful web interface.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon">
              <svg class="icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M12.342 4.536l.15-.227.262.159.116.083c.28.216.869.768.996 1.684.223-.04.448-.06.673-.06.534 0 .893.124 1.097.227l.105.057.068.045.191.156-.066.2a2.044 2.044 0 01-.47.73c-.29.299-.8.652-1.609.698l-.178.005h-.148c-.37.977-.867 2.078-1.702 3.066a7.081 7.081 0 01-1.74 1.488 7.941 7.941 0 01-2.549.968c-.644.125-1.298.187-1.953.185-1.45 0-2.73-.288-3.517-.792-.703-.449-1.243-1.182-1.606-2.177a8.25 8.25 0 01-.461-2.83.516.516 0 01.432-.516l.068-.005h10.54l.092-.007.149-.016c.256-.034.646-.11.92-.27-.328-.543-.421-1.178-.268-1.854a3.3 3.3 0 01.3-.81l.108-.187zM2.89 5.784l.04.007a.127.127 0 01.077.082l.006.04v1.315l-.006.041a.127.127 0 01-.078.082l-.039.006H1.478a.124.124 0 01-.117-.088l-.007-.04V5.912l.007-.04a.127.127 0 01.078-.083l.039-.006H2.89zm1.947 0l.039.007a.127.127 0 01.078.082l.006.04v1.315l-.007.041a.127.127 0 01-.078.082l-.039.006H3.424a.125.125 0 01-.117-.088L3.3 7.23V5.913a.13.13 0 01.085-.123l.039-.007h1.413zm1.976 0l.039.007a.127.127 0 01.077.082l.007.04v1.315l-.007.041a.127.127 0 01-.078.082l-.039.006H5.4a.124.124 0 01-.117-.088l-.006-.04V5.912l.006-.04a.127.127 0 01.078-.083l.039-.006h1.413zm1.952 0l.039.007a.127.127 0 01.078.082l.007.04v1.315a.13.13 0 01-.085.123l-.04.006H7.353a.124.124 0 01-.117-.088l-.006-.04V5.912l.006-.04a.127.127 0 01.078-.083l.04-.006h1.412zm1.97 0l.039.007a.127.127 0 01.078.082l.006.04v1.315a.13.13 0 01-.085.123l-.039.006H9.322a.124.124 0 01-.117-.088l-.006-.04V5.912l.006-.04a.127.127 0 01.078-.083l.04-.006h1.411zM4.835 3.892l.04.007a.127.127 0 01.077.081l.007.041v1.315a.13.13 0 01-.085.123l-.039.007H3.424a.125.125 0 01-.117-.09l-.007-.04V4.021a.13.13 0 01.085-.122l.039-.007h1.412zm1.976 0l.04.007a.127.127 0 01.077.081l.007.041v1.315a.13.13 0 01-.085.123l-.039.007H5.4a.125.125 0 01-.117-.09l-.006-.04V4.021l.006-.04a.127.127 0 01.078-.082l.039-.007h1.412zm1.953 0c.054 0 .1.037.117.088l.007.041v1.315a.13.13 0 01-.085.123l-.04.007H7.353a.125.125 0 01-.117-.09l-.006-.04V4.021l.006-.04a.127.127 0 01.078-.082l.04-.007h1.412zm0-1.892c.054 0 .1.037.117.088l.007.04v1.316a.13.13 0 01-.085.123l-.04.006H7.353a.124.124 0 01-.117-.088l-.006-.04V2.128l.006-.04a.127.127 0 01.078-.082L7.353 2h1.412z"/></svg>
            </div>
            <h3>Runs Anywhere</h3>
            <p class="lead mb-0">Install AzuraCast onto any server (or desktop) that supports Docker.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div id="showcase-img-1" class="col-lg-6 order-lg-2 text-white showcase-img"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Web-Based Station Management</h2>
          <p class="lead mb-0">
            Upload media, manage playlists, create local mount points and remote relays, view analytics and reports and much more, all
            from the convenience of your web browser.
          </p>
        </div>
      </div>
      <div class="row g-0">
        <div id="showcase-img-2" class="col-lg-6 text-white showcase-img"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Multi-Station Administration</h2>
          <p class="lead mb-0">
            Host multiple stations on a single installation, create new user accounts and unique roles with granular permissions.
            Back up your installation and keep track of every station from one central location.
          </p>
        </div>
      </div>
      <div class="row g-0">
        <div id="showcase-img-3" class="col-lg-6 order-lg-2 text-white showcase-img"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Built-in Public Pages</h2>
          <p class="lead mb-0">
            Out of the box, each station includes a public-facing player page that can also be embedded into your own web site.
            Our powerful APIs let you build your own players and interfaces that take advantage of our rich metadata support.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center" id="install">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Install AzuraCast today!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div class="buttons">
            <a class="btn btn-lg btn-dark" target="_blank" href="https://linode.gvw92c.net/c/2691356/1078437/10906">
              <svg fill="currentColor" class="icon" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"><path d="M22.006 10.684a.15.15 0 0 0-.07-.15l-3.261-1.821a.14.14 0 0 0-.14 0l-2.771 1.69a.17.17 0 0 0-.07.13v1.451l-1.13-.74a.14.14 0 0 0-.15 0l-1.62 1-.071-1.64a.19.19 0 0 0-.07-.12l-1.65-1.09 1.51-.781a.16.16 0 0 0 .08-.14l-.27-6.272a.16.16 0 0 0-.08-.13L8 0h-.1L2.08 1.81A.16.16 0 0 0 2 2l1.27 6.233a.22.22 0 0 0 0 .08l1.83 1.38-1.26.6a.16.16 0 0 0-.08.17l1 4.702a.18.18 0 0 0 0 .07L6 16.375l-.8.49a.15.15 0 0 0-.06.16l.75 3.642a.11.11 0 0 0 0 .07l3.002 3.221a.14.14 0 0 0 .2 0l3.921-3.121a.16.16 0 0 0 .06-.12l-.07-2.12 1.32 1.1a.14.14 0 0 0 .18 0l3.142-2.511a.24.24 0 0 0 .06-.11l.09-1.57 1 .67a.14.14 0 0 0 .17 0l2.571-2.001a.14.14 0 0 0 .05-.1zm-9.623.15.07 1.57.12 2.781-4.231 2.871-.66-4.532zm-.35-8.423.25 5.912-5.002 2.59-.9-6.321zM3.54 8.123 2.33 2.26l3.74 2.32.931 6.203-1.58-1.2zM5 15.055l-.88-4.261 3.281 2.74.6 4.382-1.68-1.62zm1.14 5.512-.65-3.141 2.892 2.85.47 3.162zm3.002 3-.49-3.33 4.001-2.871.14 3.28zm3.861-5.36v-1.081a.16.16 0 0 0-.05-.11l-1.13-.92 1-.7a.14.14 0 0 0 .06-.12v-.261l1.39 1.06v3.211zm4.442-1.201-2.861 2.28v-3.22l3.07-2.201zm1.29-1.21-.9-.631.09-1.59a.11.11 0 0 0 0-.06.1.1 0 0 0 0-.05l-1.93-1.27v-1.391l3 1.89zm2.55-1.861-2.28 1.81.26-3.06 2.431-1.681z"/></svg>
              <span>
                Linode
              </span>
            </a>
            <a class="btn btn-lg btn-dark" target="_blank" href="https://marketplace.digitalocean.com/apps/azuracast?refcode=1023fa8af513">
              <svg fill="currentColor" class="icon" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.787 25.2v-3.721h-3.72v3.721zM10.239 25.2h-4.451v4.454h4.451zM16.050 1.004c-0.009-0-0.020-0-0.030-0-8.281 0-14.996 6.706-15.009 14.984v0.001h5.796c0.022-5.082 4.147-9.193 9.232-9.193 1.203 0 2.353 0.23 3.407 0.649l-0.062-0.022c2.414 0.898 4.284 2.769 5.163 5.123l0.020 0.060c0.399 0.994 0.631 2.146 0.631 3.352 0 5.078-4.104 9.198-9.176 9.224h-0.003v-5.761h-5.777v5.777h5.761v5.796c8.293-0.019 15.008-6.746 15.008-15.042 0-1.695-0.28-3.325-0.797-4.846l0.031 0.106c-1.459-4.518-4.948-8.007-9.363-9.437l-0.103-0.029c-1.412-0.462-3.037-0.734-4.724-0.744l-0.005-0z"></path>
              </svg>
              <span>
                DigitalOcean
              </span>
            </a>
            <a class="btn btn-lg btn-dark" target="_blank" href="https://www.vultr.com/marketplace/apps/azuracast?ref=8888059">
              <svg fill="currentColor" class="icon" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"><title>Vultr icon</title><path d="M8.36 2.17a1.194 1.194 0 00-1.012-.571H1.2a1.2 1.2 0 00-1.2 1.2 1.211 1.211 0 00.182.64l11.6 18.4a1.206 1.206 0 002.035 0l3.075-4.874a1.229 1.229 0 00.182-.64 1.211 1.211 0 00-.182-.642zm10.349 8.68a1.206 1.206 0 002.035 0L21.8 9.176l2.017-3.2a1.211 1.211 0 00.183-.64 1.229 1.229 0 00-.183-.64l-1.6-2.526a1.206 1.206 0 00-1.016-.571h-6.148a1.2 1.2 0 00-1.201 1.2 1.143 1.143 0 00.188.64z"/></svg>
              <span>
                Vultr
              </span>              
            </a>
            <a class="btn btn-lg btn-primary text-white" href="/docs/getting-started/installation/docker">
              <svg class="icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M12.342 4.536l.15-.227.262.159.116.083c.28.216.869.768.996 1.684.223-.04.448-.06.673-.06.534 0 .893.124 1.097.227l.105.057.068.045.191.156-.066.2a2.044 2.044 0 01-.47.73c-.29.299-.8.652-1.609.698l-.178.005h-.148c-.37.977-.867 2.078-1.702 3.066a7.081 7.081 0 01-1.74 1.488 7.941 7.941 0 01-2.549.968c-.644.125-1.298.187-1.953.185-1.45 0-2.73-.288-3.517-.792-.703-.449-1.243-1.182-1.606-2.177a8.25 8.25 0 01-.461-2.83.516.516 0 01.432-.516l.068-.005h10.54l.092-.007.149-.016c.256-.034.646-.11.92-.27-.328-.543-.421-1.178-.268-1.854a3.3 3.3 0 01.3-.81l.108-.187zM2.89 5.784l.04.007a.127.127 0 01.077.082l.006.04v1.315l-.006.041a.127.127 0 01-.078.082l-.039.006H1.478a.124.124 0 01-.117-.088l-.007-.04V5.912l.007-.04a.127.127 0 01.078-.083l.039-.006H2.89zm1.947 0l.039.007a.127.127 0 01.078.082l.006.04v1.315l-.007.041a.127.127 0 01-.078.082l-.039.006H3.424a.125.125 0 01-.117-.088L3.3 7.23V5.913a.13.13 0 01.085-.123l.039-.007h1.413zm1.976 0l.039.007a.127.127 0 01.077.082l.007.04v1.315l-.007.041a.127.127 0 01-.078.082l-.039.006H5.4a.124.124 0 01-.117-.088l-.006-.04V5.912l.006-.04a.127.127 0 01.078-.083l.039-.006h1.413zm1.952 0l.039.007a.127.127 0 01.078.082l.007.04v1.315a.13.13 0 01-.085.123l-.04.006H7.353a.124.124 0 01-.117-.088l-.006-.04V5.912l.006-.04a.127.127 0 01.078-.083l.04-.006h1.412zm1.97 0l.039.007a.127.127 0 01.078.082l.006.04v1.315a.13.13 0 01-.085.123l-.039.006H9.322a.124.124 0 01-.117-.088l-.006-.04V5.912l.006-.04a.127.127 0 01.078-.083l.04-.006h1.411zM4.835 3.892l.04.007a.127.127 0 01.077.081l.007.041v1.315a.13.13 0 01-.085.123l-.039.007H3.424a.125.125 0 01-.117-.09l-.007-.04V4.021a.13.13 0 01.085-.122l.039-.007h1.412zm1.976 0l.04.007a.127.127 0 01.077.081l.007.041v1.315a.13.13 0 01-.085.123l-.039.007H5.4a.125.125 0 01-.117-.09l-.006-.04V4.021l.006-.04a.127.127 0 01.078-.082l.039-.007h1.412zm1.953 0c.054 0 .1.037.117.088l.007.041v1.315a.13.13 0 01-.085.123l-.04.007H7.353a.125.125 0 01-.117-.09l-.006-.04V4.021l.006-.04a.127.127 0 01.078-.082l.04-.007h1.412zm0-1.892c.054 0 .1.037.117.088l.007.04v1.316a.13.13 0 01-.085.123l-.04.006H7.353a.124.124 0 01-.117-.088l-.006-.04V2.128l.006-.04a.127.127 0 01.078-.082L7.353 2h1.412z"/></svg>
              <span>
                Self-Hosted
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <Footer />
</Layout>

<style lang="scss">
// Masthead
header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../images/bg-masthead.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 6rem;

    h1 {
        font-size: 2rem;
    }

    @media (min-width: 768px) {
        padding-top: 8rem;
        padding-bottom: 8rem;
        h1 {
            font-size: 3rem;
        }
    }
}

// Showcase
.showcase {
    .showcase-text {
        padding: 3rem;
    }
    .showcase-img {
        min-height: 30rem;
        background-size: cover;

        &#showcase-img-1 {
          background-image: url("../images/bg-showcase-1.png");
        }
        &#showcase-img-2 {
          background-image: url("../images/bg-showcase-2.png");
        }
        &#showcase-img-3 {
          background-image: url("../images/bg-showcase-3.png");
        }
    }
    @media (min-width: 768px) {
        .showcase-text {
            padding: 7rem;
        }
    }
}

// Feature Icons
.features-icons {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .features-icons-item {
        max-width: 20rem;

        .features-icons-icon {
          height: 7rem;

          .icon {
            font-size: 4.5rem;
          }
        }

        &:hover {
            .features-icons-icon .icon {
              font-size: 5em;
            }
        }
    }
}

// CTA
.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url("../images/bg-masthead.jpg") no-repeat center center;
    background-size: cover;

    padding-top: 7rem;
    padding-bottom: 7rem;

    .overlay {
        position: absolute;
        background-color: #212529;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
    }
}
</style>
