<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a
                            href="https://docs.azuracast.com/en/contribute/donate"
                            >Donate</a
                        >
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a
                            href="https://docs.azuracast.com/en/contribute/code-of-conduct"
                            >Code of Conduct</a
                        >
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="https://docs.azuracast.com/en/privacy-policy"
                            >Privacy Policy</a
                        >
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="https://status.azuracast.com/"
                            >Service Status</a
                        >
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">
                    &copy; AzuraCast 2021. All Rights Reserved.
                </p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="https://discord.gg/azuracast" target="_blank">
                            <span class="sr-only">Discord</span>
                            <i class="fab fa-discord fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a
                            href="https://fosstodon.org/@azuracast"
                            rel="me"
                            target="_blank"
                        >
                            <span class="sr-only">Mastodon</span>
                            <i class="fab fa-mastodon fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="https://twitter.com/azuracast" target="_blank">
                            <span class="sr-only">Twitter</span>
                            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a
                            href="https://github.com/AzuraCast/AzuraCast"
                            target="_blank"
                        >
                            <span class="sr-only">GitHub</span>
                            <i class="fab fa-github fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<style lang="scss">
footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
</style>
