<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/img/logo.svg" width="32" height="32" alt="" />
            <span class="azuracast">azura<strong>cast</strong></span>
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <span class="navbar-text mr-auto">
                Simple, Self-Hosted Web Radio
            </span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://docs.azuracast.com/"
                        >Documentation</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="https://docs.azuracast.com/en/user-guide/troubleshooting"
                        >Help</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="https://github.com/AzuraCast/AzuraCast">GitHub</a
                    >
                </li>
                <li class="nav-item active">
                    <a
                        class="nav-link"
                        href="https://docs.azuracast.com/en/getting-started/installation"
                        >Install</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>

<style lang="scss">
    
</style>
