---
import { Image } from 'astro:assets';
import logoImage from '../images/logo.svg';
---
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <Image src={logoImage} alt="" width="32" height="32" />
            <span class="azuracast">azura<strong>cast</strong></span>
        </a>
        <span class="navbar-text me-auto">
            Simple, Self-Hosted Web Radio
        </span>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/docs">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs/help/troubleshooting">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs/contribute/donate">Donate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/AzuraCast/AzuraCast">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/docs/getting-started/installation">Install</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style lang="scss">
nav.navbar {
    background-image: linear-gradient(90deg,#2196f3 0,#0a6fc2 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .navbar-brand {
        font-size: 1.5rem;
        line-height: 1;
    }
}
</style>
